<%- include ('ejs/header.ejs'); -%>
    <head>
        <script src="/public/javascripts/cart.js"></script>
        <link rel="stylesheet" href="/stylesheets/products.css">
    </head>

    <div class="all">
        <% if (cart === null || cart.products.length == 0) {%>
            <h1>Brak produktów w koszyku</h1>
        <% } else { %>

        <h1>Produkty w Twoim koszyku:</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th class="th" scope="col">#</th>
                        <th class="th" scope="col">nazwa produktu</th>
                        <th class="th" scope="col">cena</th>
                        <th class="th" scope="col">ilość</th>
                        <th class="th" scope="col">usuń</th>
                    </tr>
                </thead>
                <tbody>
                <% for (let i = 0; i < cart.products.length; i++){
                    let product = cart.products[i];
                %>
                    <tr>
                        <th scope="row"><%= i+1%></th>
                        <td><%= product.title%></td>
                        <td><%= product.price%> zł</td>
                        <td><%= product.qty%></td>
                        <td>
                            <form action="/cart" method="post">
                                <input type="hidden" name="prodId" value="<%= product.id %>">
                                <button type="submit" class="button">usuń</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
                <tr>
                    <td class="sum">W sumie: </td>
                    <td class="sum" colspan="4"><%= cart.totalPrice%> zł</td>
                </tr>
                </tbody>
            </table>
        <% }%>
    </div>
<%- include ('ejs/footer.ejs'); -%>