<%- include ('ejs/header.ejs'); -%>
<head>
    <link rel="stylesheet" href="/stylesheets/products.css">
</head>

<% for(let p of prods){ %>
    <div class="all">
        <img src="<%=p.photo%>">
        <div class="info">
            <h4><%=p.title%>></h4>
            <h5><%=p.price%>></h5>
        </div>
    </div> <%
}%>

<%- include ('ejs/footer.ejs'); -%>