<%- include ('ejs/header.ejs'); -%>
<head>
    <link rel="stylesheet" href="/stylesheets/products.css">
</head>

<% for(let p of prods){ %>
    <div class="all">
        <img src="<%=p.photo%>">
        <div class="info">
            <h4><%=p.title%></h4>
            <h5><%=p.price%> zł</h5>
        </div>
        <div class="info">
            <form action="/tea" method="post">
                <input type="hidden" name="id" value="<%=p.id%>">
                <button type="submit" class="button_add">Dodaj do koszyka</button>
            </form>
        </div>
    </div> <%
}%>

<%- include ('ejs/footer.ejs'); -%>